a{
  color: white;
  text-decoration: none;
}
.bienvenida{
  height: 100vh;
  object-fit: cover;
  width: 100%;


}
@media (max-width:1000px)  {
  header{
   height: auto;
   display: flex;
   flex-direction: column;

  }
  ul{
    display: flex;
    flex-direction: column;
  }

   

}


 