.card-brazalete{
    display: flex;
    flex-direction: column;
}
.producto{
    height: 350px;
    width: 450px;
}
button{
    background-color:$color-primario;
    color: $color-secundario;
    font-family: $tipografia-primaria;

}
h5{
    color:$color-secundario;
}
p{
    color: $color-primario;
    font-family: $tipografia-primaria;
}

