h1{
    display: flex;
    justify-content: center;
    font-family: $tipografia-primaria;
    font-size: 60px;
}
p{
    padding: 40px;
    font-family: $tipografia-secundaria;
   
}
 .img-nosotros{
    width: 100%;
    height: 150vh;
    object-fit: cover;
 }

 

   