.trabajaconnostros ul{
    display: flex;
    flex-direction: column;

    font-size: 40px;
    font-family: $tipografia-primaria;
}

input{
    padding:10px 10px;
   


}
.trabajo{
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 20px 20px;
 
   
   
}
@media (max-width:1000px){   
    body{
        padding: 0px;
    }
    .trabajo{
        display: flex;
        flex-direction: row;
        height: 60px;
        width: 60px;
    }


}

