footer{
    color:$color-secundario;
    background-color: $color-primario;
    display: flex;
   justify-content: space-around;
    height: 100px;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
  padding-left: 10px;
}
.iconos{
    width: 30px;
    height: 30px;
}
