footer{
    color:$color-secundario;
    
    background-color: $color-primario;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
  padding-left: 10px;
}
.iconos{
    width: 30px;
    height: 30px;
}